<p-toast></p-toast>
<div class="container-fluid">
  <div class="content">
    <div class="row">
      <div class="float-start mb-3">
        <a type="button" (click)="back()" class="root-btn text-center text-decoration-none p-2 me-4">
          <i class="fa-solid fa-arrow-left me-3"></i>
          Quay lại
        </a>
        <a type="button"
           class="root-btn text-decoration-none pt-2 text-center"
           href="assets/importdata.xlsx"
           download>
          <i class="fa-solid fa-download me-1"></i>
          Tải file mẫu
        </a>
      </div>
    </div>

    <div class="card">
      <p-toolbar styleClass="mb-4 gap-2">
        <ng-template pTemplate="left">
          <p-fileUpload
            styleClass="root-btn-upload"
            (onSelect)="importWarehouse($event)"
            chooseLabel="Nhập file"
            mode="basic"
            accept=".xlsx"
            [showCancelButton]="true"
            [showUploadButton]="false"
            (onRemove)="clear()"
            [disabled]="!selectedSupplier"
            [multiple]="true"></p-fileUpload>
          <button
            pButton pRipple
            label="Hoàn thành"
            class="root-btn ms-3"
            [disabled]="!productResponse"
            (mousedown)="import()" ></button>
        </ng-template>
        <div style="width: 64%">
          <p-dropdown styleClass="select_ncc" [options]="this.getSuppliersResponse.suppliers" [(ngModel)]="selectedSupplier" optionLabel="supplierName" [filter]="true" filterBy="name" placeholder="Nhà cung cấp" (ngModelChange)="chooseSupplier()">
            <ng-template pTemplate="selectedItem">
              <div class="supplier-item supplier-item-value" *ngIf="selectedSupplier">
                <div>{{selectedSupplier.supplierName}}</div>
              </div>
            </ng-template>
            <ng-template let-supplier pTemplate="item">
              <div class="supplier">
                <div>{{supplier.supplierName}}</div>
              </div>
            </ng-template>
          </p-dropdown>
        </div>
        <ng-template pTemplate="right">
          <button pButton pRipple label="Xóa sản phẩm" icon="pi pi-trash" class="p-button-danger root-btn-danger" (mousedown)="deleteSelectedProducts()" [disabled]="!selectedProducts || !selectedProducts.length"></button>
        </ng-template>
      </p-toolbar>
      <div class="ps-5" *ngIf="this.productResponse==null">
        <p>Chú ý:</p>
        <p>Chuyển đổi file nhập dưới dạng .xlsx hoặc .xls trước khi tải lên.</p>
        <p>File nhập có dung lượng tối đa 200MB và 500 bản ghi.</p>
      </div>
      <p-table id="base" *ngIf="this.productResponse!=null && this.productResponse.status.status=='1'" #dt [value]="this.productResponse.products" [rows]="10" [paginator]="true"
               [(selection)]="selectedProducts" dataKey="id" [showCurrentPageReport]="true">
        <ng-template pTemplate="header">
          <tr>
            <th class="th-table" style="width: 4rem">
            </th>
            <th class="th-table" style="width: 4rem">
              <p-tableHeaderCheckbox></p-tableHeaderCheckbox>
            </th>
            <th class="th-table" pSortableColumn="productName">Tên sản phẩm <p-sortIcon field="productName"></p-sortIcon></th>
            <th class="th-table">Mã vạch</th>
            <th class="th-table">Loại sản phẩm</th>
            <th class="th-table">Ngày hết hạn</th>
            <th class="th-table">Số lượng</th>
            <th class="th-table">Đơn vị</th>
            <th class="th-table">Tổng tiền</th>
            <th class="th-table">Thao tác</th>
          </tr>
        </ng-template>
        <ng-template pTemplate="body" let-product let-expanded="expanded">
          <tr>
            <td>
              <button type="button" pButton pRipple [pRowToggler]="product" class="p-button-text p-button-rounded p-button-plain" [icon]="expanded ? 'pi pi-chevron-down' : 'pi pi-chevron-right'"></button>
            </td>
            <td>
              <p-tableCheckbox [value]="product"></p-tableCheckbox>
            </td>
            <td pEditableColumn>
              <p-cellEditor>
                <ng-template pTemplate="input">
                  <input pInputText type="text" [(ngModel)]="product.productName" (ngModelChange)="saveProducts()">
                </ng-template>
                <ng-template pTemplate="output">
                  {{product.productName}}
                </ng-template>
              </p-cellEditor>
            </td>
            <td>
                  {{product.barcode}}
            </td>
            <td *ngIf="this.getTypeProductsResponse!=null && this.getTypeProductsResponse.status.status=='1'">
              <p-dropdown styleClass="dropdown_table" [options]="this.getTypeProductsResponse.results" [(ngModel)]="product.typeProduct" optionLabel="name" [filter]="true" filterBy="name" (ngModelChange)="saveProducts()" placeholder="Chọn loại sản phẩm">
                <ng-template pTemplate="selectedItem">
                  <div class="supplier-item supplier-item-value" *ngIf="this.product.typeProduct">
                    <p>{{this.product.typeProduct.name}}</p>
                  </div>
                </ng-template>
                <ng-template let-category pTemplate="item">
                  <div class="supplier">
                    <p>{{category.name}}</p>
                  </div>
                </ng-template>
              </p-dropdown>
            </td>
            <td pEditableColumn>
              <p-cellEditor>
                <ng-template pTemplate="input">
                  <input pInputText type="text" [(ngModel)]="product.rangeDates" (ngModelChange)="saveProducts()">
                </ng-template>
                <ng-template pTemplate="output">
                  {{product.rangeDates}}
                </ng-template>
              </p-cellEditor>
            </td>
            <td pEditableColumn>
              <p-cellEditor>
                <ng-template pTemplate="input">
                  <input pInputText type="text" [(ngModel)]="product.inAmount" (ngModelChange)="saveProducts()">
                </ng-template>
                <ng-template pTemplate="output">
                  {{product.inAmount | number: '1.0-0'}}
                </ng-template>
              </p-cellEditor>
            </td>
            <td *ngIf="this.getUnitResponse!=null && this.getUnitResponse.status.status=='1' && this.product.unit==null">
              <p-dropdown styleClass="dropdown_table" [options]="this.getUnitResponse.results" [(ngModel)]="this.product.unit" optionLabel="name" [filter]="true" filterBy="name" (ngModelChange)="selectUnit(product)" placeholder="Chọn đơn vị">
                <ng-template pTemplate="selectedItem">
                  <div class="supplier-item supplier-item-value" *ngIf="this.product.unit">
                    <p>{{product.unit.name}}</p>
                  </div>
                </ng-template>
                <ng-template let-unit pTemplate="item">
                  <div class="unit" >
                    <p>{{unit.name}}</p>
                  </div>
                </ng-template>
              </p-dropdown></td>
            <td *ngIf="this.getUnitResponse!=null && this.getUnitResponse.status.status=='1' && this.product.unit!=null">
              <p-dropdown styleClass="dropdown_table" [options]="getExportByUnitSelected(this.product.unit.id)" [(ngModel)]="this.product.unit" [filter]="true" optionLabel="name" filterBy="name" (ngModelChange)="selectUnit(product)">
                <ng-template pTemplate="selectedItem">
                  <div class="supplier-item supplier-item-value" *ngIf="this.product.unit">
                    <div>{{product.unit.name}}</div>
                  </div>
                </ng-template>
                <ng-template let-unit pTemplate="item">
                  <div class="unit" >
                    <div>{{unit.name}}</div>
                  </div>
                </ng-template>
              </p-dropdown></td>
            <td pEditableColumn>
              <p-cellEditor>
                <ng-template pTemplate="input">
                  <input pInputText type="text" [(ngModel)]="product.inPrice" (ngModelChange)="saveProducts()">
                </ng-template>
                <ng-template pTemplate="output">
                  {{product.inPrice | number: '1.0-0'}}
                </ng-template>
              </p-cellEditor>
            </td>
              <td>
                <button pButton pRipple icon="pi pi-trash" class="root-btn-danger" (click)="deleteProduct(product)"></button>
              </td>
            </tr>
        </ng-template>
        <ng-template pTemplate="rowexpansion" let-product>
          <tr>
            <td colspan="10">
              <div class="p-3">
                <table>
                  <thead>
                    <th>Đơn vị</th>
                    <th>Số lượng</th>
                    <th>Giá nhập</th>
                    <th>Giá bán</th>
                    <th>Thao tác</th>
                  </thead>
                  <tbody>
                    <tr *ngFor="let export of this.productResponse.products[product.id].exports">
                      <td>{{export.unitName}}</td>
                      <td>
                        <input type="number" class="form-control" style="width: 60%;" [(ngModel)]="export.outPrice" id="amount" [(ngModel)]="export.amount" disabled>
                      </td>
                      <td>
                        <p-inputNumber id="in-price" style="width: 60%; height: 40px" [(ngModel)]="export.inPrice" (ngModelChange)="saveProducts()"></p-inputNumber>
<!--                        <input type="number" class="form-control"  [(ngModel)]="export.inPrice" >-->
                      </td>
                      <td>
                        <p-inputNumber id="out-price" style="width: 60%; height: 40px" [(ngModel)]="export.outPrice" (ngModelChange)="saveProducts()"></p-inputNumber>
<!--                        <input type="number" class="form-control" style="width: 60%;" [(ngModel)]="export.outPrice" id="out-price" (ngModelChange)="saveProducts()">-->
                      </td>
                      <td>
                        <button pButton pRipple icon="pi pi-trash" class="root-btn-danger" (click)="deleteExport(export,product)"></button>
                      </td>
                    </tr>
                  </tbody>
                </table>
              </div>
            </td>
          </tr>
        </ng-template>
      </p-table>
  </div>
</div>
</div>
<p-confirmDialog [style]="{width: '450px'}"></p-confirmDialog>

<!--preview after import-->
<p-sidebar [(visible)]="isSidebarDialog" position="right" [baseZIndex]="10000">
  <h5>Xuất thông tin sản phẩm</h5>
  <p-table [tableStyle]="{'width': '100%'}" [value]="importResponse.items" *ngIf="this.importResponse!=null && this.importResponse.status.status==='1'">
    <ng-template pTemplate="header">
      <tr>
        <th class="th-table">Tên sản phẩm</th>
        <th class="th-table">Mã sản phẩm</th>
        <th class="th-table">QR code</th>
        <th class="th-table">Hạn sử dụng</th>
        <th class="th-table">Giá nhập</th>
        <th class="th-table">Số lượng</th>
        <th class="th-table">Thao tác</th>
      </tr>
    </ng-template>
    <ng-template pTemplate="body" let-product>
      <tr>
        <td>{{product.productName}}</td>
        <td>{{product.productCode}}</td>
        <td>{{product.qrCode}}</td>
        <td>{{product.rangeDate | date: "dd/MM/yyyy"}}</td>
        <td>{{product.inPrice}}</td>
        <td>{{product.amount}}</td>
        <td>
          <button class="root-btn" (mousedown)="exportQRCode(product.productCode, product.amount)">Xuất mã vạch</button>
        </td>
      </tr>
    </ng-template>
  </p-table>
</p-sidebar>
