<employee-header xmlns="http://www.w3.org/1999/html"></employee-header>
<main>
  <div class="container-fluid pt-4 main-layout">
    <div class="row">
      <div class="col-3 float-start">
        <button type="button" (click)=" openCreate()" class="root-btn">Thêm mới ghi nợ</button>
      </div>
      <div class="col-9">
        <form>
          <div class="input-group mb-3 float-end">
            <input type="text" class="form-control inputRoot" (change)="searchByName(name.value)" ngModel #name
                   name="name"
                   placeholder="Nhập tên khách hàng" aria-describedby="button-search-account">
            <button type="button" class="buttonRoot" pButton pRipple
                    (mousedown)="searchByName(name.value)">
              <i class="fa-solid fa-magnifying-glass"></i>
            </button>
          </div>
        </form>
      </div>
    </div>
    <!-- table -->
    <div class="table-all-order mt-4">
      <p-table [value]="debitUserItemsResponse.items" dataKey="id">
        <ng-template pTemplate="header">
          <tr>
            <th style="width: 3rem"></th>
            <th pSortableColumn="fullName" (mousedown)="sort('fullName')">Tên người nợ </th>
            <th pSortableColumn="phoneNumber" (mousedown)="sort('phoneNumber')"> Số điện thoại</th>
            <th pSortableColumn="creator" (mousedown)="sort('creator')">Người ghi nợ</th>
            <th pSortableColumn="total" (mousedown)="sort('total')">Tổng tiền nợ</th>
            <th pSortableColumn="typeDebt" (mousedown)="sort('typeDebt')">Loại người nợ</th>
            <th pSortableColumn="debtDate" (mousedown)="sort('debtDate')">Ngày nợ</th>
            <th pSortableColumn="statusCode" (mousedown)="sort('statusCode')">Trạng thái</th>
            <th>Hành động</th>
          </tr>
        </ng-template>
        <ng-template pTemplate="body" let-product let-expanded="expanded">
          <tr>
            <td>
              <button type="button" pButton pRipple [pRowToggler]="product"
                      class="p-button-text p-button-rounded p-button-plain"
                      [icon]="expanded ? 'pi pi-chevron-down' : 'pi pi-chevron-right'"></button>
            </td>
            <td>{{product.fullName}}</td>
            <td>{{product.phoneNumber}}</td>
            <td>{{product.creator}}</td>
            <td>{{product.total | currency:'VNĐ'}}</td>
            <td>{{product.typeDebt}}</td>
            <td>{{product.debtDate| date: 'dd/MM/yyyy HH:mm:ss'}}</td>
            <td><span [class]="'product-badge status-' + product.statusCode.toLowerCase()">{{product.statusCode}}</span>
            </td>
            <td>
              <button class="  border-0 btn  btn-outline-info" (click)=" getById(product.id)">
                <i class="fas fa-pencil-alt"></i></button>
              <button class="  border-0 btn  btn-outline-info" (click)=" getByUpdate(product.id)">
                <i class="fas fa-pencil-alt"></i>update</button>
            </td>
          </tr>
        </ng-template>
        <ng-template pTemplate="rowexpansion" let-product>
          <tr>
            <td colspan="7">
              <div class="p-3">
                <p-table [value]="product.payItems" dataKey="id">
                  <ng-template pTemplate="header">
          <tr>
            <th pSortableColumn="inPrice">Tiền người dùng trả <p-sortIcon field="inPrice"></p-sortIcon></th>
            <th pSortableColumn="price">Tiền còn lại<p-sortIcon field="price"></p-sortIcon></th>
            <th pSortableColumn="creator">Người ghi nợ<p-sortIcon field="creator"></p-sortIcon></th>
            <th pSortableColumn="numberOfPayOuts">Số lần trả <p-sortIcon field="numberOfPayOuts"></p-sortIcon></th>
            <th pSortableColumn="datePayment">Ngày trả <p-sortIcon field="datePayment"></p-sortIcon></th>
            <th pSortableColumn="stats">Trạng thái <p-sortIcon field="status"></p-sortIcon></th>
            <th style="width: 4rem"></th>
          </tr>
        </ng-template>
        <ng-template pTemplate="body" let-debt>
          <tr>
            <td>{{debt.inPrice | currency:'VND'}}</td>
            <td>{{debt.price | currency:'VND'}}</td>
            <td>{{debt.creator}}</td>
            <td>{{debt.numberOfPayOuts}}</td>
            <td>{{debt.datePayment | date: 'dd/MM/yyyy HH:mm:ss'}}</td>
            <td><span [class]="'order-badge order-' + debt.statusCode.toLowerCase()">{{debt.statusCode}}</span></td>
            <td><p-button type="button" icon="pi pi-search"></p-button></td>
          </tr>
        </ng-template>
        <ng-template pTemplate="emptymessage">
          <tr>
            <td colspan="6"></td>
          </tr>
        </ng-template>
      </p-table>
    </div>
    </td>
    </tr>
    </ng-template>
    </p-table>
    <p-paginator [rows]="10" [totalRecords]="debitUserItemsResponse.totalItems" [rowsPerPageOptions]="[2, 10, 25, 50]"
                 currentPageReportTemplate="Showing {{debitUserItemsResponse.totalPages}} to {{ debitUserItemsResponse.totalPages }} of {{debitUserItemsResponse.totalItems}} entries" (onPageChange)="Pageable($event)"></p-paginator>
    </div>
  </div>
  <p-confirmDialog [style]="{ width: '50vw' }" [baseZIndex]="10000" rejectButtonStyleClass="p-button-text"></p-confirmDialog>
  <p-toast></p-toast>

</main>
<employee-footer></employee-footer>

<p-confirmDialog [style]="{width: '50vw'}" [baseZIndex]="10000" rejectButtonStyleClass="p-button-text">
</p-confirmDialog>
<p-toast></p-toast>


<p-dialog [(visible)]="createDialog" [style]="{width: '50rem'}" header="Ghi nợ mới" [modal]="true" styleClass="p-fluid">
  <div class="row">
    <div class="col-6">
      <div class="field">
        <label for="name_customer_create">Tên khách hàng</label>
        <input class="root-input" type="text" pInputText id="name_customer_create"
               [(ngModel)]="createDebitRequest.fullName" required autofocus/>
      </div>
      <div class="field mt-3">
        <label for="phone_customer_create">Số điện thoại</label>
        <input class="root-input" type="text" pInputText id="phone_customer_create"
               [(ngModel)]="createDebitRequest.phoneNumber" required/>
      </div>
      <div class="field mt-3">
        <label for="address_customer_create">Địa chỉ</label>
        <textarea id="address_customer_create" pInputTextarea [(ngModel)]="createDebitRequest.address" required rows="3"
                  cols="20"></textarea>
      </div>
    </div>
    <div class="col-6">
      <div class="field">
        <label for="totalAmountOwed_customer_create">Tổng tiền nợ</label>
        <p-inputNumber id="price" [(ngModel)]="createDebitRequest.totalAmountOwed"  mode="currency" currency="USD" locale="en-US"></p-inputNumber>
      </div>
      <div class="field mt-3">
        <label for="order_customer_create">Hóa đơn</label>
        <p-dropdown id="order_customer_create" styleClass="root-dropdown" [options]="billItems.items"
                    [(ngModel)]="billItem"
                    [ngModelOptions]="{standalone: true}" optionLabel="id" [filter]="true" filterBy="id" filterBy="id"
                    placeholder="Lựa chọn hóa đơn">
          <ng-template pTemplate="selectedItem">
            <div class="unit-item unit-item-value" *ngIf="billItem">
              <div>HD{{billItem.id}} - {{billItem.createDate| date: 'dd/MM/yyyy HH:mm:ss' }} - {{billItem.total |
                currency:'VND'}}</div>
            </div>
          </ng-template>
          <ng-template let-items pTemplate="items">
            <div class="unit-Item">
              <div>HD{{items.id}} - {{items.createDate| date: 'dd/MM/yyyy HH:mm:ss' }}
                - {{items.total | currency:'VND'}}
              </div>
            </div>
          </ng-template>
        </p-dropdown>
      </div>
      <div class="field mt-3">
        <label for="description_customer_create">Ghi chú</label>
        <textarea id="description_customer_create" pInputTextarea [(ngModel)]="createDebitRequest.description" required
                  rows="3" cols="20"></textarea>
      </div>
    </div>
  </div>

  <div class="text-center mt-3">
    <button class="root-btn" (click)="create()">Thêm mới ghi nợ</button>
  </div>
</p-dialog>

<!-- pay -->
<p-dialog [(visible)]="payDialog" [style]="{width: '50rem'}" header="Trả nợ" [modal]="true" styleClass="p-fluid">
  <div class="row">
    <div class="col-6">
      <div class="field mb-3">
        <label for="name_pay">Tên khách hàng</label>
        <input type="text" class="root-input" pInputText id="name_pay" [(ngModel)]="updateDebitRequest.fullName" [disabled]="true"/>
      </div>
      <div class="field mb-3">
        <label for="phone_pay">Số điện thoại</label>
        <input type="text" class="root-input" pInputText id="phone_pay" [(ngModel)]="updateDebitRequest.phoneNumber" [disabled]="true"/>
      </div>
      <div class="field">
        <label for="address_pay">Địa chỉ</label>
        <textarea id="address_pay" pInputTextarea [(ngModel)]="updateDebitRequest.address" [disabled]="true" rows="3"
                  cols="20"></textarea>
      </div>
    </div>
    <div class="col-6">
      <div class="field mb-3">
        <label for="price_pay">Tổng tiền nợ</label>
        <!-- <p-inputNumber styleClass="root-dropdown" id="price_pay" [(ngModel)]="updateDebitRequest.totalAmountOwed"
                       mode="currency" [disabled]="true"></p-inputNumber> -->
       <p-inputNumber id="price" [(ngModel)]="updateDebitRequest.totalAmountOwed"  mode="currency" currency="USD" locale="en-US"  [disabled]="true"></p-inputNumber>
      </div>
      <div class="field mb-3">
        <label for="inPrice_pay">Tiền trả nợ</label>
        <p-inputNumber styleClass="root-dropdown" id="inPrice_pay" [(ngModel)]="payRequest.inPrice" mode="currency" autofocus></p-inputNumber>
      </div>
      <div class="field mb-3">
        <label label="bill_pay">Hóa đơn</label>
        <p-dropdown styleClass="root-dropdown" id="bill_pay" dataKey="id" [options]="billItems.items"
                    [(ngModel)]="billItem"
                    [ngModelOptions]="{standalone: true}" optionLabel="id" [filter]="true" filterBy="id" filterBy="id"
                    [disabled]="true">
          <ng-template pTemplate="selectedItem">
            <div class="unit-item unit-item-value" *ngIf="billItem">
              <div>HD{{billItem.id}} - {{billItem.createDate| date: 'dd/MM/yyyy HH:mm:ss' }} - {{billItem.total |
                currency:'VND'}}</div>
            </div>
          </ng-template>
          <ng-template let-items pTemplate="items">
            <div class="unit-Item">
              <div>HD{{items.id}} - {{items.createDate| date: 'dd/MM/yyyy HH:mm:ss' }} - {{items.total |
                currency:'VND'}}</div>
            </div>
          </ng-template>
        </p-dropdown>
      </div>
      <div class="field">
        <label for="description_pay">Ghi chú</label>
        <textarea id="description_pay" pInputTextarea [(ngModel)]="updateDebitRequest.description" required rows="3"
                  cols="20" [disabled]="true"></textarea>
      </div>
    </div>
  </div>
  <div class="text-center mt-3">
    <button class="root-btn" (click)="pay()"></button>
  </div>
</p-dialog>

<!-- update -->
<p-dialog [(visible)]="updateDialog" [style]="{width: '50rem'}" header="Chỉnh sửa đơn nợ" [modal]="true" styleClass="p-fluid">
  <div class="row">
    <div class="col-6">
      <div class="field mb-3">
        <label for="name_pay">Tên khách hàng</label>
        <input type="text" class="root-input" pInputText id="name_pay" [(ngModel)]="updateDebitRequest.fullName" />
      </div>
      <div class="field">
        <label for="phone_update">Số điện thoại</label>
        <input type="text" class="root-input" pInputText id="phone_update" [(ngModel)]="updateDebitRequest.phoneNumber" required/>
      </div>
      <div class="field mb-3">
        <label for="address_update">Địa chỉ</label>
        <textarea id="address_update" pInputTextarea [(ngModel)]="updateDebitRequest.address" required rows="3" cols="20"></textarea>
      </div>
    </div>
    <div class="col-6">
      <div class="field mb-3">
        <label for="price_update">Tổng tiền nợ</label>
           <p-inputNumber id="price" [(ngModel)]="updateDebitRequest.totalAmountOwed"  mode="currency" currency="USD" locale="en-US" ></p-inputNumber>
          </div>
      <div class="field mb-3">
        <label for="bill_update">Hóa đơn</label>
        <p-dropdown id="bill_update" dataKey="id" [options]="billItems.items" [(ngModel)]="billItem"
                    [ngModelOptions]="{standalone: true}" optionLabel="id" [filter]="true" filterBy="id" placeholder="Lựa chọn hóa đơn">
          <ng-template pTemplate="selectedItem">
            <div class="unit-item unit-item-value" *ngIf="billItem">
              <div>HD{{billItem.id}} - {{billItem.createDate| date: 'dd/MM/yyyy HH:mm:ss' }} - {{billItem.total |
                currency:'VND'}}</div>
            </div>
          </ng-template>
          <ng-template let-items pTemplate="items">
            <div class="unit-Item">
              <div>HD{{items.id}} - {{items.createDate| date: 'dd/MM/yyyy HH:mm:ss' }} - {{items.total |
                currency:'VND'}}</div>
            </div>
          </ng-template>
        </p-dropdown>
      </div>
      <div class="field mb-3">
        <label for="description_update">Ghi chú</label>
        <textarea id="description_update" pInputTextarea [(ngModel)]="updateDebitRequest.description" required rows="3" cols="20"></textarea>
      </div>
    </div>
  </div>
  <div class="text-center">
    <button class="root-btn"  (click)="update(updateDebitRequest.idDebit)"></button>
  </div>

</p-dialog>




