<!--Main Navigation-->
<admin-header [Status]="status"></admin-header>
<!--Main Navigation-->

<!--Main layout-->
<p-toast></p-toast>
<main>
  <h5>Thông tin chi tiết nhân viên</h5>
  <div class="container pt-4 main-layout">
    <div class="row">
      <!--form update-->
      <form class="row g-3 was-validated" [formGroup]="updateAccount">
        <div class="row">
          <div class="mb-3 col-md-6">
            <label for="fullname" class="form-label">Tên Nhân Viên: <span
              style="color: red">(*)</span></label>
            <input type="text" class="form-control" id="fullname" formControlName="fullname" name="fullname"
                   placeholder="Nhập tên nhân viên"
                   required>
          </div>
          <div class="mb-3 col-md-6">
            <label for="username" class="form-label">Username: <span
              style="color: red">(*)</span></label>
            <input type="text" class="form-control" id="username" (change)="checkError()" formControlName="username"
                   name="username"
                   placeholder="Nhập username nhân viên"
                   required>
            <div> {{messageUsername}}</div>
          </div>
          <div class="mb-3 col-md-6">
            <label class="form-label">Số Chứng Minh Thư: <span style="color: red">(*)</span></label>
            <input type="text" class="form-control" (change)="checkError()" formControlName="cccd"
                   placeholder="Nhập chứng minh thư" name="cccd" required>
            <div> {{messageCccd}}</div>
          </div>
          <div class="mb-3 col-md-6">
            <label class="form-label">Số Điện Thoại: <span style="color: red">(*)</span></label>
            <input type="text" class="form-control" (change)="checkError()" formControlName="numberPhone"
                   placeholder="Nhập số điện thoại" required>
            <span>{{messagePhone}}</span>
          </div>
          <div class="mb-3 col-md-6">
            <label class="form-label">Email: <span style="color: red">(*)</span></label>
            <input type="text" class="form-control" (change)="checkError()" formControlName="email" name="email"
                   placeholder="Nhập email" required>
            <span>{{messageEmail}}</span>
          </div>
          <div class="mb-3 col-md-6">
            <label class="form-label">Địa chỉ: <span style="color: red">(*)</span></label>
            <input type="text" class="form-control" formControlName="address" name="address"
                   placeholder="Nhập địa chỉ" required>
          </div>
        </div>
        <div class="row text-center">
          <div class="mb-3">
            <button (click)="update()" type="submit" class="root-btn ps-5 pt-2 pe-5 pb-2">Hoàn thành</button>
          </div>
        </div>
      </form>

      <!--form view-->
    </div>
  </div>
  <admin-footer></admin-footer>
</main>
<!--Main layout-->
