<employee-header [Status]="status"></employee-header>

<!-- <section id="team" class="pb-5">
  <div class="container">
      <div class="row">
  
          <div class="col-xs-12 col-sm-6 col-md-4"  *ngFor="let item of items.items;">
              <div class="image-flip" >
                  <div class="mainflip flip-0">
                      <div class="frontside">
                          <div class="card"  style="width: 400px; height: 400px;">
                              <div class="card-body text-center">
                                  <p><img class=" img-fluid" src="assets/image/{{item.img}}" alt="card image"></p>
                                  <h4 class="card-title">{{item.productName}}</h4>
                                  <p class="card-text">{{item.barcode}}</p>
                                  <a href="https://www.fiverr.com/share/qb8D02" class="btn btn-primary btn-sm"><i class="fa fa-plus"></i></a>
                              </div>
                          </div>
                      </div>
                      <div class="backside">
                          <div class="card" style="width: 400px; height: 400px;">
                              <div class="card-body text-center mt-4">
                                  <h4 class="card-title">{{item.productName}}</h4>
                                  <p class="card-text">Ngày hết hạn: {{item.expired | date:'dd/MM/yyyy' }}</p>
                                  <p class="card-text">{{item.description}}</p>
                                  <p class="card-text">
                                    <div class="card-text">
                                      <div class="row">
                                        <label label="unit_product_update" class="mb-2 row mx-auto">Đơn vị sản phẩm</label>
                                        <p-dropdown styleClass="dropdown_warehouse" id="unit_product_update" dataKey="unitId"
                                          [options]="item.unit" [(ngModel)]="unit"
                                          [ngModelOptions]="{standalone: true}" optionLabel="unitName" [filter]="false" filterBy="unitName" (onChange)="showUnit(item.importID,unit.unitId)">
                                          <ng-template pTemplate="selectedItem">
                                            <div class="unit-item unit-item-value" *ngIf="unit">
                                              <p>{{unit.unitName}} -  {{unit.outPrice}} VND</p>
                                            </div>
                                          </ng-template>
                                          <ng-template let-unitItem pTemplate="unititem">
                                            <div class="unit-Item">
                                              <p>{{unitItem.unitName}} - {{unitItem.outPrice}}</p>
                                            </div>
                                          </ng-template>
                                        </p-dropdown>
                                      </div>

                                    </div>
                                    <p class="card-text">Giá bán: {{unit.outPrice}}</p>
                                  <p class="card-text">Số lượng hàng tồn: {{unit.inventory}}</p>

                                  <ul class="list-inline">
                                      <li class="list-inline-item">
                                          <a class="social-icon text-xs-center" target="_blank" href="https://www.fiverr.com/share/qb8D02">
                                              <i class="fa fa-facebook"></i>
                                          </a>
                                      </li>
                                      <li class="list-inline-item">
                                          <a class="social-icon text-xs-center" target="_blank" href="https://www.fiverr.com/share/qb8D02">
                                              <i class="fa fa-twitter"></i>
                                          </a>
                                      </li>
                                      <li class="list-inline-item">
                                          <a class="social-icon text-xs-center" target="_blank" href="https://www.fiverr.com/share/qb8D02">
                                              <i class="fa fa-skype"></i>
                                          </a>
                                      </li>
                                      <li class="list-inline-item">
                                          <a class="social-icon text-xs-center" target="_blank" href="https://www.fiverr.com/share/qb8D02">
                                              <i class="fa fa-google"></i>
                                          </a>
                                      </li>
                                  </ul>
                              </div>
                          </div>
                      </div>
                  </div>
              </div>
          </div>

      </div>
  </div>
</section> -->


<employee-footer></employee-footer>