<employee-header [Status]="status"></employee-header>

<div class="row mb-2">
  <div class="float-start">
    <div class="tabPOS p-2 float-start me-1" *ngFor="let bill of listBill">
      <span (click)="changeBill(bill)">Hóa đơn {{bill}}</span>
      <i class="fa-solid fa-x float-end mt-1 ms-1" (click)="deleteBill(bill)" *ngIf="listBill.length!==1"></i>
    </div>
    <button class="btnPOS ms-2" (click)="addBill()" *ngIf="!isButtonPOS"><i class="fa-solid fa-plus"></i></button>
  </div>
</div>

<div class="sell container-fluid pt-3">
  <div class="row">
    <div class="col-8 sell-list_product">
      <div class="sell-list_product-header p-2">
        <div class="row">
          <div class="col-1 pt-1">
            <button class="btn-camera" (click)="openDialogScan()">
              <i class="fa-solid fa-camera"></i>
            </button>
          </div>
          <div class="col-11">
            <p-dropdown [options]="products" optionLabel="productName" [filter]="true" filterBy="product"
                        [showClear]="true" (onFilter)="getProduct($event)"
                        styleClass="searchProduct">
              <ng-template let-product pTemplate="productItem">
                <div class="product float-start" (mousedown)="selectProduct(product.productCode)">
                  <img [src]="product.img" [class]="'flag flag-' + product.productId"/>
                  {{product.productName}}-{{product.productCode}}
                </div>
              </ng-template>
            </p-dropdown>
          </div>
        </div>
      </div>
      <table class="table mt-3">
        <thead>
        <tr>
          <th>STT</th>
          <th></th>
          <th>QR code</th>
          <th>Tên sản phẩm</th>
          <th>Đơn vị</th>
          <th>Số lượng</th>
          <th>Đơn giá</th>
          <th>Thành tiền</th>
        </tr>
        </thead>
        <tbody *ngIf="cartItem.products!=null && viewBillRequest!=null">
        <tr *ngFor="let item of cartItem.products; let i=index" class="sell-list_product-body--item">
          <td>
            <p class="p-table">{{i + 1}}</p>
          </td>
          <td>
            <button style="border: none; outline: none; background-color: white;" class="mt-2" (click)="deleteProductOnCart(item.barCode)">
              <i class="fa-solid fa-trash text-danger"></i>
            </button>
          </td>
          <td>
            <p class="p-table">{{item.barCode}}</p>
          </td>
          <td>
            <p class="p-table">{{item.productName}}</p>
          </td>
          <td *ngIf="this.item!=null">
            <p-dropdown styleClass="dropdown_root" [options]="this.item.items"
                        [(ngModel)]="this.viewBillRequest.detailBills[i].export" optionLabel="unitName" [filter]="true"
                        filterBy="name" (ngModelChange)="changeAmount()">
              <ng-template pTemplate="selectedItem">
                <div class="supplier-item supplier-item-value" *ngIf="this.viewBillRequest.detailBills[i].export">
                  <p>{{this.viewBillRequest.detailBills[i].export.unitName}}</p>
                </div>
              </ng-template>
              <ng-template let-category pTemplate="item">
                <div class="supplier">
                  <p>{{category.unitName}}</p>
                </div>
              </ng-template>
            </p-dropdown>
          </td>
          <td>
            <div *ngIf="null!=viewBillRequest && null !=viewBillRequest.detailBills">
              <p-inputNumber [(ngModel)]="viewBillRequest.detailBills[i].amount" [showButtons]="true"
                             inputId="minmax-buttons" mode="decimal" name="amount+{{item.productId}}+{{i}}" [min]="1"
                             [max]="viewBillRequest.detailBills[i].export.inventory" (ngModelChange)="changeAmount()"></p-inputNumber>
            </div>
          </td>
          <td>
            <div *ngIf="null!=viewBillRequest && null !=viewBillRequest.detailBills">
              <p class="p-table">{{viewBillRequest.detailBills[i].export.outPrice | currency:'VND'}}</p>
            </div>
          </td>
          <td>
            <div *ngIf="null!=viewBillRequest && null !=viewBillRequest.detailBills">
              <p class="p-table">{{viewBillRequest.detailBills[i].export.outPrice * viewBillRequest.detailBills[i].amount | currency:'VND'}}</p>
            </div>
          </td>
        </tr>
        </tbody>
      </table>
    </div>
    <div class="col-4 sell-money p-3">
      <div class="sell-money_content">
        <div class="row">
          <div class="col">
            <div class="btn-group">
              <button class="btn btn-light dropdown-toggle" type="button" data-bs-toggle="dropdown"
                      data-bs-auto-close="true" aria-expanded="false">
                Nhân viên
              </button>
            </div>
          </div>
          <div class="col">
            <!--              <button class="btn btn-secondary float-end"><i class="fa-solid fa-clock-rotate-left"></i> Lịch sử đơn hàng-->
            <!--              </button>-->
          </div>
          <table class="m-3 tableInfoMoney">
            <tbody>
            <tr>
              <td>Tổng tiền hàng</td>
              <td>{{numToString() | currency}}</td>
            </tr>
            <tr>
              <td>Giảm giá</td>
              <td><input value="0" class="inputSale"></td>
            </tr>
            <tr>
              <td class="fw-bold">Khách cần trả</td>
              <td>{{numToString() | currency}}</td>
            </tr>
            <tr>
              <td class="fw-bold">Khách thanh toán</td>
              <td>
                <input class="inputSale" [(ngModel)]="moneyPay">
                <!--                <div class="col-8">-->
                <!--                  <input type="text" class="form-control" placeholder="Số tiền khách đưa">-->
                <!--                </div>-->
              </td>
            </tr>
            <tr>
              <td class="fw-bold">Tiền thừa</td>
              <td>
                <div class="col-8">
                  <input type="text" class="form-control inputSale" [value]="moneyPay - numToString()" disabled>
                </div>
              </td>
            </tr>
            <tr *ngIf="selectedValue === 'both'">
              <td class="fw-bold">Khách chuyển khoản</td>
              <td>
                <div class="col-8">
                  <input type="text" class="form-control inputSale">
                </div>
              </td>
            </tr>
            </tbody>
          </table>

          <div style="display: flex;">
            <p-radioButton class="me-3" (click)="choosePayment()" name="groupname" value="money"
                           [(ngModel)]="selectedValue"
                           label="Tiền mặt"></p-radioButton>
            <p-radioButton class="me-3" (click)="showDialogPayment()" name="groupname" value="payment"
                           [(ngModel)]="selectedValue"
                           label="Quét mã"></p-radioButton>
            <p-radioButton (click)="chooseABoth()" name="groupname" value="both" [(ngModel)]="selectedValue"
                           label="Cả hai phương thức"></p-radioButton>
          </div>
        </div>
      </div>
      <div class="sell-money_footer mt-3">
        <div class="d-grid gap-2">
          <button class="btn text-uppercase" type="button" *ngIf="isPayment" (mousedown)="transaction()">thanh toán
          </button>
        </div>
      </div>
    </div>
  </div>
</div>

<employee-footer></employee-footer>
<p-dialog header="Thanh toán chuyển khoản" [(visible)]="dialogPayment" [style]="{width: '30vw'}" [draggable]="true"
          [resizable]="false" [modal]="true">
  <div class="sell-money_bank p-3 row">
    <div class="col">
      <img src="./assets/image/images.png">
    </div>
    <div class="col">
      <div class="mb-3">STK: <b>9521012002</b></div>
      <div class="mb-3">Chủ tài khoản: <br><b>NGUYEN LE HAI</b></div>
      <div>Ngân hàng: <b>MB BANK</b></div>
    </div>
  </div>
  <ng-template pTemplate="footer">
    <div class="sell-money_footer">
      <div class="d-grid gap-2">
        <button class="btn text-uppercase" type="button" (mousedown)="transaction()">thanh toán</button>
      </div>
    </div>
  </ng-template>
</p-dialog>

<!--scan mã vạch-->
<p-dialog header="" [(visible)]="dialogScanQR" [style]="{width: '50vw'}" [draggable]="false" [resizable]="false">
  <!--  <button (click)="enableCamera()">Camera</button>-->
  <zxing-scanner
    (camerasFound)="onCamerasFound($event)"
    (scanSuccess)="onCodeResult($event)"
    [torch]="torchEnabled"
    [tryHarder]="tryHarder"
    (permissionResponse)="onHasPermission($event)"
    [(device)]="currentDevice"
    (torchCompatible)="onTorchCompatible($event)"
    [enable]="enable"
    [formats]="formatsEnabled"
  ></zxing-scanner>
</p-dialog>

<!--dialog export hóa đơn-->
<p-dialog header="" [(visible)]="dialogExportBill" [style]="{width: '25vw'}" [draggable]="false" [resizable]="false">
  <div class="text-center">
    <img src="assets/image/export.png" width="81" height="81">
    <h5>Bạn có muốn in hóa đơn không?</h5>
  </div>
  <div>
    <button class="root-btn-product" (click)="exportBill()">In hóa đơn</button>
    <button class="second-btn-product" (click)="dialogExportBill=false">Hủy</button>
  </div>
</p-dialog>
