<employee-header xmlns="http://www.w3.org/1999/html"></employee-header>
<main>
  <div class="container pt-4 main-layout">
    <div class="row">
      <div class="col">
        <h2 translate>Debit</h2>
      </div>

    </div>
    <!-- pre-table-->
    <section class="pre-table">
      <div class="row">
        <div class="col"></div>
        <div class="col">
          <form>
            <!-- <div class="input-group mb-3">
              <input type="text" class="form-control" (change)="searchByName(name.value)" ngModel #name name="name"
                     placeholder="Nhập name category" aria-label="Nhập name category"
                     aria-describedby="button-search-account">
              <button class="btn btn-outline-success" type="button" id="button-search-account"
                      (mousedown)="searchByName(name.value)">
                <i class="fa-solid fa-magnifying-glass"></i>
              </button>
            </div> -->
          </form>
        </div>
      </div>
    </section>
    <!-- table -->

    <div class="table-all-order mt-4">
      <p-table #dt [value]="debitUserItemsResponse.items" dataKey="id" styleClass="p-datatable-getOrderResponse.totalPages"
        [rowHover]="true">
        [filterDelay]="0" >

        <ng-template pTemplate="header">
          <tr>
            <th pSortableColumn="fullName" (mousedown)="sort('fullName')">
              Tên người nợ <p-sortIcon field="fullName"></p-sortIcon>
            </th>
            <th pSortableColumn="phoneNumber" (mousedown)="sort('phoneNumber')">
              Số điện thoại người nợ
              <p-sortIcon field="phoneNumber"></p-sortIcon>
            </th>
            <th pSortableColumn="total" (mousedown)="sort('total')">
              Tổng số tiền nợ <p-sortIcon field="total"></p-sortIcon>
            </th>
            <th pSortableColumn="address" (mousedown)="sort('address')">
              Địa chỉ<p-sortIcon field="address"></p-sortIcon>
            </th>

            <th pSortableColumn="amountUserDebit" (mousedown)="sort('amountUserDebit')">
              Loại người nợ <p-sortIcon field="amountUserDebit"></p-sortIcon>
            </th>
            <th pSortableColumn="status" (mousedown)="sort('status')">
              Tình trạng <p-sortIcon field="status"></p-sortIcon>
            </th>
            <th pSortableColumn="action">Hành động</th>
          </tr>
          <tr></tr>
        </ng-template>
        <ng-template pTemplate="body" let-bill>
          <tr class="p-selectable-row">
            <td>{{ bill.debitDate | date: "dd/MM/y hh:mm:ss" }}</td>
            <td>{{ bill.creatorDebtor }}</td>
            <td>{{ bill.fullName }}</td>
            <td>{{ bill.phoneNumber }}</td>
            <td>{{ bill.total | currency: "VND" }}</td>
            <td>{{ bill.address}}</td>
            <td>{{ bill.amountUserDebit }}</td>
            <td>{{ bill.statusCode }}</td>
            <td>
              <button class="  border-0 btn  btn-outline-info" (click)=" getById(bill.id)">
                <i class="fas fa-pencil-alt"></i></button>

              <!-- <button type="button" class=" border-0 btn btn-outline-danger" data-bs-toggle="modal"
              data-bs-target="#exampleModalDelete" (click)="delete(list.id.ordersId)"
      ><i class="fas fa-trash-alt"></i></button> -->
            </td>
          </tr>
        </ng-template>

        <ng-template pTemplate="emptymessage">
          <tr>
            <td colspan="8">No customers found.</td>
          </tr>
        </ng-template>
      </p-table>

      <p-paginator [rows]="10" [totalRecords]="debitUserItemsResponse.totalItems" [rowsPerPageOptions]="[10, 25, 50]"
        currentPageReportTemplate="Showing {{
            debitUserItemsResponse.totalPages
        }} to {{ debitUserItemsResponse.totalPages }} of {{
            debitUserItemsResponse.totalItems
        }} entries" (onPageChange)="Pageable($event)"></p-paginator>
    </div>
  </div>
  <p-confirmDialog [style]="{ width: '50vw' }" [baseZIndex]="10000" rejectButtonStyleClass="p-button-text">
  </p-confirmDialog>
  <p-toast></p-toast>

</main>
<employee-footer></employee-footer>

<p-confirmDialog [style]="{width: '50vw'}" [baseZIndex]="10000" rejectButtonStyleClass="p-button-text">
</p-confirmDialog>
<p-toast></p-toast>
