<!--Main Navigation-->
<admin-header></admin-header>
<!--Main Navigation-->

<!--Main layout-->
<main>
  <div class="container pt-4 main-layout">
    <div class="row">
      <div class="col">
        <h2>Quản lý tài khoản</h2>
      </div>
      <div class="col">
        <a class="btn btn-outline-primary float-end">Thêm tài khoản</a>
      </div>
    </div>

    <section class="table-account" style="margin-left: 200px;">
      <button pButton pRipple label="New" icon="pi pi-plus" class="p-button-success mr-2" (click)="open()"></button>
      <form (ngSubmit)="onSearch()">
      <span class="p-input-icon-left">
        <i class="pi pi-search"></i>
            <input type="text" pInputText class="form-control" [(ngModel)]="search" name="name"
                   placeholder="Email, name, number phone">
      </span>
      </form>
      <p-radioButton name="groupname" value="0" [(ngModel)]="selectedStatus" (onClick)="onStatus()" label="off"></p-radioButton>
      <p-radioButton name="groupname" value="1" [(ngModel)]="selectedStatus" (onClick)="onStatus()" label="on"></p-radioButton>
      <p-table [value]="customers.customers" responsiveLayout="scroll">
        <ng-template pTemplate="header">
          <tr>
            <th></th>
            <th pSortableColumn="fullname" (mousedown)="sort('fullname')">Name<p-sortIcon field="fullname"></p-sortIcon></th>
            <th pSortableColumn="address" (mousedown)="sort('address')">Address<p-sortIcon field="address"></p-sortIcon></th>
            <th pSortableColumn="numberphone" (mousedown)="sort('numberphone')">Number phone<p-sortIcon field="numberphone"></p-sortIcon></th>
            <th pSortableColumn="cccd" (mousedown)="sort('cccd')">CCCD<p-sortIcon field="cccd"></p-sortIcon></th>
            <th pSortableColumn="email" (mousedown)="sort('email')">Email<p-sortIcon field="email"></p-sortIcon></th>
            <th>Status</th>
          </tr>
        </ng-template>
        <ng-template pTemplate="body" let-rowIndex="rowIndex" let-customer>
          <tr>
            <td>{{rowIndex+1}}</td>
            <td>{{customer.fullname}}</td>
            <td>{{customer.address}}</td>
            <td>{{customer.numberphone}}</td>
            <td>{{customer.cccd}}</td>
            <td>{{customer.email}}</td>
            <td *ngIf="customer.status == 1">
              <i class="pi pi-lock-open" (click)="lock(customer.idCustomer)"></i>
            </td>
            <td *ngIf="customer.status == 0">
              <i class="pi pi-lock" (click)="unlock(customer.idCustomer)"></i>
            </td>
          </tr>
        </ng-template>
      </p-table>
      <p-paginator [rows]="10" [totalRecords]="totalItems" [rowsPerPageOptions]="[10,25,50]" (onPageChange)="paginate($event)" ></p-paginator>
    </section>
  </div>

  <p-dialog [(visible)]="customerDialog" [style]="{width: '550px'}" header="Customer" [modal]="true" styleClass="p-fluid">
    <ng-template pTemplate="content">
      <div class="field">
        <label for="name">Username</label>
        <input type="text" pInputText id="username" [(ngModel)]="customerRequest.username" required  />
        <small class="p-error" *ngIf="submitted && !customerRequest.username">Name is required.</small>
      </div>
      <div class="field">
        <label for="name">Password</label>
        <p-password [toggleMask]="true" id="password" [(ngModel)]="customerRequest.password" required></p-password>
        <small class="p-error" *ngIf="submitted && !customerRequest.password">Name is required.</small>
      </div>
      <div class="field">
        <label for="name">Fullname</label>
        <input type="text" pInputText id="name" [(ngModel)]="customerRequest.fullname" required  />
        <small class="p-error" *ngIf="submitted && !customerRequest.fullname">Name is required.</small>
      </div>
      <div class="field">
        <label for="cccd">CCCD</label>
        <input type="text" pInputText id="cccd" [(ngModel)]="customerRequest.cccd" required />
        <small class="p-error" *ngIf="submitted && !customerRequest.cccd">CCCD is required.</small>
      </div>
      <div class="field">
        <label for="email">Email</label>
        <input type="text" pInputText id="email" [(ngModel)]="customerRequest.email" required  />
        <small class="p-error" *ngIf="submitted && !customerRequest.email">Email is required.</small>
      </div>
      <div class="field">
        <label for="name">Numberphone</label>
        <input type="text" pInputText id="numberphone" [(ngModel)]="customerRequest.numberPhone" required  />
        <small class="p-error" *ngIf="submitted && !customerRequest.numberPhone">Number phone is required.</small>
      </div>
      <div class="p-field">
        <label for="address">Address</label>
        <textarea id="address" pInputTextarea [(ngModel)] = "customerRequest.address"  required rows="3" cols="20"></textarea>
        <small class="p-error" *ngIf="submitted && !customerRequest.address">Address is required.</small>
      </div>
    </ng-template>

    <ng-template pTemplate="footer">
      <button pButton pRipple label="Cancel" icon="pi pi-times" class="p-button-text" (click)="hideDialog()"></button>
      <button pButton pRipple label="Save" icon="pi pi-check" class="p-button-text" (click)="save()"></button>
    </ng-template>
  </p-dialog>

  <p-confirmDialog [style]="{width: '450px'}"></p-confirmDialog>
  <p-toast></p-toast>
  <admin-footer></admin-footer>
</main>
<!--Main layout-->
