main {
  margin: 6% 0 0 17%;
}

.main-layout {
  width: 100%;
  height: auto;
  border-radius: 10px;
  box-shadow: 0 2px 5px 0 rgb(0 0 0 / 16%), 0 2px 10px 0 rgb(0 0 0 / 12%);
}

.root-btn {
  width: 183px;
  height: 40px;
  background-color: #0061C1;
  color: white;
  border: none;
  border-radius: 5px;
  text-decoration: none;
  text-align: center;
}

.inputRoot {
  width: 90% !important;
  height: 40px;
}

.buttonRoot {
  color: white;
  background-color: #0061C1;
  height: 40px;
  border: none;
  border-radius: 5px;
  text-decoration: none;
  text-align: center;
  width: 50px;
}

.buttonRoot-delte {
  color: white;
  background-color: #dc3545;
  height: 40px;
  border: none;
  border-radius: 5px;
  text-decoration: none;
  text-align: center;
  width: 50px;
}

>>> .p-datatable-table .p-datatable-thead tr th{
  background: #E5EFF9 !important;
  border-radius: 5px;
}
