<!--Main Navigation-->
<admin-header [Status]="status"></admin-header>
<!--Main Navigation-->

<!--Main layout-->
<main>
  <h5>Thêm mới sản phẩm</h5>
  <div class="container pt-4 main-layout">
    <div class="row">
      <div class="col-6">
        <div class="mb-3">
          <label for="barCode" class="form-label" translate>product.barcode <span><button class="btn btn-primary ms-3" (click)="openDialogScan()"><i class="fa-solid fa-camera"></i></button></span></label>
          <input type="text" class="form-control" required id="barCode" name="barCode"
                 [(ngModel)]="createProductRequest.barCode">
        </div>
        <div class="mb-3">
          <label for="nameProd" class="form-label" translate>product.name</label>
          <input type="text" class="form-control" minlength="0" maxlength="100" id="nameProd" name="nameProd"
                 [(ngModel)]="createProductRequest.nameProd">
        </div>
        <div class="mb-3"
             *ngIf="getInforCreateProductResponse!=null && getInforCreateProductResponse.typeProductItems!=null">
          <label class="form-label-category" translate>product.category.name</label> <br>
          <p-dropdown [options]="getInforCreateProductResponse.typeProductItems" [(ngModel)]="selectedCategory"
                      optionLabel="name" [filter]="true" filterBy="name" placeholder="Lựa chọn loại sản phẩm"
                      styleClass="dropdown_form">
            <ng-template pTemplate="selectedItem">
              <div class="category-item category-item-value" *ngIf="selectedCategory">
                <div>{{selectedCategory.name}}</div>
              </div>
            </ng-template>
            <ng-template let-category pTemplate="categoryitem">
              <div class="category-item">
                <div>{{category.name}}</div>
              </div>
            </ng-template>
          </p-dropdown>
        </div>
        <div class="mb-3" *ngIf="getInforCreateProductResponse!=null && getInforCreateProductResponse.items!=null">
          <label class="form-label-supplier">Nhà cung cấp</label> <br>
          <p-dropdown [options]="getInforCreateProductResponse.items" [(ngModel)]="selectedSupplier" optionLabel="name"
                      [filter]="true" filterBy="name" [showClear]="true" placeholder="Chọn nhà cung cấp"
                      styleClass="dropdown_form">
            <ng-template pTemplate="selectedItem">
              <div class="supplier-item supplier-item-value" *ngIf="selectedSupplier">
                <div>{{selectedSupplier.name}}</div>
              </div>
            </ng-template>
            <ng-template let-supplier pTemplate="supplieritem">
              <div class="supplier-item">
                <div>{{supplier.name}}</div>
              </div>
            </ng-template>
          </p-dropdown>
        </div>
      </div>
      <div class="col-6">
        <div class="mb-3">
          <label for="description-product" class="form-label" translate>product.description</label>
          <textarea class="form-control" id="description-product" name="description" rows="3" style="resize: none;"
                    [(ngModel)]="createProductRequest.description"></textarea>
        </div>
        <div class="mb-3">
          <label class="form-label">Thêm mới hình ảnh</label>
          <p-fileUpload name="demo[]" url="./upload.php"
                        accept="image/*" [previewWidth]='100' [showUploadButton]="false" [maxFileSize]="1000000"
                        (onSelect)="onUpload($event)" (onRemove)="onRemove()">
            <ng-template pTemplate="content">
              <ul *ngIf="uploadedFiles.length">
                <li *ngFor="let file of uploadedFiles"></li>
              </ul>
            </ng-template>
          </p-fileUpload>
        </div>
      </div>
    </div>
    <div class="row mt-3" *ngIf="getInforCreateProductResponse!=null && getInforCreateProductResponse.unitItems!=null">
      <div class="col-4">
        <label translate>product.unit.name</label>
        <p-dropdown inputId="dropdown" [options]="getInforCreateProductResponse.unitItems"
                    [(ngModel)]="selectedUnitParent" optionLabel="unitName" [filter]="false" filterBy="name"
                    placeholder="Đơn vị sản phẩm" (onChange)="getUnitChild()" styleClass="dropdown_form">
          <ng-template pTemplate="selectedItem">
            <div class="unit-item unit-item-value" *ngIf="selectedUnitParent">
              <div>{{selectedUnitParent.unitName}} - {{selectedUnitParent.description}}</div>
            </div>
          </ng-template>
          <ng-template let-unitItem pTemplate="unititem">
            <div class="unit-Item">
              <div>{{unitItem.unitName}} - {{unitItem.description}}</div>
            </div>
          </ng-template>
        </p-dropdown>
      </div>
      <div class="col-4">
        <label for="unit_amount" translate>product.unit.amount</label>
        <p-inputNumber id="unit_amount" style="width: 100%" [(ngModel)]="createProductRequest.amount" [required]="true"></p-inputNumber>
<!--        <input type="number" min="1" class="form-control" required id="unit_amount" [(ngModel)]="createProductRequest.amount">-->
      </div>
      <div class="col-4">
        <label for="unit_inprice" translate>product.unit.inprice</label>
        <p-inputNumber id="unit_inprice" style="width: 100%" [(ngModel)]="createProductRequest.inPrice" [required]="true"></p-inputNumber>
<!--        <input type="number" min="0" class="form-control" required id="unit_inprice" [(ngModel)]="createProductRequest.inPrice">-->
      </div>
    </div>
    <div *ngIf="selectedUnitParent !=null && selectedUnitParent.unitId!=null && getUnitChileResponse!=null && getUnitChileResponse.unitItems!=null">
      <div *ngFor="let item of unitLayouts;let i=index">
        <div class="row mt-3">
          <div class="col-3">
            <label translate>product.unit.name <span>{{i+1}}</span></label>
            <p-dropdown inputId="dropdown" [autoDisplayFirst]="false" [options]="getUnitChileResponse.unitItems"
                        [(ngModel)]="selectedUnitChilds[i]" optionLabel="unitName"
                        (onChange)="craeteUnit(i)" styleClass="dropdown_form"></p-dropdown>
          </div>
          <div class="col-3">
            <label for="unit_inprice{{i}}" translate>product.unit.inprice <span>{{i+1}}</span></label>
            <p-inputNumber id="unit_inprice{{i}}" [(ngModel)]="createProductRequest.units[i].inPrice" [required]="true"></p-inputNumber>
<!--            <input type="text" class="form-control" required id="unit_inprice{{i}}" [(ngModel)]="createProductRequest.units[i].inPrice">-->
          </div>
          <div class="col-3">
            <label for="unit_outprice{{i}}" translate>product.unit.outprice <span>{{i+1}}</span></label>
            <p-inputNumber id="unit_outprice{{i}}" style="width: 100%" [(ngModel)]="createProductRequest.units[i].outPrice" [required]="true"></p-inputNumber>
<!--            <input type="text" class="form-control" required id="unit_outprice{{i}}" [(ngModel)]="createProductRequest.units[i].outPrice">-->
          </div>
          <div class="col-3">
            <button class="btn_form-delete me-2" (mousedown)="deleteUnitLayout(i)" *ngIf="1!=unitLayouts.length">
              <i class="fa-solid fa-trash-can"></i>
            </button>
            <button class="btn_form-primary" (mousedown)="createUnitLayout()" *ngIf="i+1==unitLayouts.length && createProductRequest.units[i].inPrice!=null
              && createProductRequest.units[i].inPrice!=0 && createProductRequest.units[i].outPrice!=null &&
              createProductRequest.units[i].outPrice!=0 && createProductRequest.units[i].unitName!=null && createProductRequest.units[i].unitName!='' ">
              <i class="fa-solid fa-plus"></i>
            </button>
          </div>
        </div>
      </div>
    </div>
    <div class="row mt-5 me-2 float-end">
      <button class="root-btn" (click)="create()" translate>layout.button.create</button>
    </div>
  </div>

  <p-toast></p-toast>
  <admin-footer></admin-footer>
</main>
<!--Main layout-->

<!--scan mã vạch-->
<p-dialog header="" [(visible)]="dialogScanQR" [style]="{width: '50vw'}" [draggable]="false" [resizable]="false">
  <zxing-scanner
    (camerasFound)="onCamerasFound($event)"
    (scanSuccess)="onCodeResult($event)"
    [torch]="torchEnabled"
    [tryHarder]="tryHarder"
    (permissionResponse)="onHasPermission($event)"
    [(device)]="currentDevice"
    (torchCompatible)="onTorchCompatible($event)"
    [enable] = "enable"
    [formats]="formatsEnabled"
  ></zxing-scanner>
</p-dialog>
